NEXT_PUBLIC_API_URL=http://api-req.bean9.net/
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_COOKIE_DOMAIN=localhost
NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_POST_LOGIN_PATH=/dashboard
NEXT_PUBLIC_SEO_SUBJECTS_PATH=/subjects
